[user]
	name = Yoela O
	email = yolson@liberty.edu
[core]
	editor = vim
[credential]
	helper = store
[credential "https://gitlab.com"]
	helper = !/usr/bin/glab auth git-credential
[pull]
	rebase = false
[safe]
	directory = /storage/emulated/0/obsidian-vault
