// Eww colors for Andrea rice
$bg: #FDF0ED;
$bg-alt: #F0E9E2;
$fg: #151515;
$black: #16161C;
$lightblack: #262831;
$red: #DA103F;
$blue: #65C7E3;
$cyan: #2eccca;
$magenta: #b0a5ed;
$green: #1EB980;
$yellow: #FFCC57;
$archicon: #0f94d2;
